@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  background-color: #1f2024; /*#000018;*/
  font-family: "Montserrat", sans-serif;
}

.App {
  text-align: center;
  margin: auto;
}

small {
  margin: 2rem;
  color: #c9cbe3;
}

.meaning {
  margin: 1rem 0rem 2rem 0rem;
  padding: 0.5rem;
  font-size: large;
  border-radius: 0.5rem;
  color: #c9cbe3;
}

.description {
  padding: 0rem 0rem 2rem 0rem;
}

input {
  padding: 1rem;
  width: 70%;
}

#inputbox {
  border-radius: 1rem;
  background-color: #f3f4f6;
  max-width: 450px;
}

.emojiDashboardHeader {
  padding: 0.7rem;
  background-color: #f3f4f6;
  border-radius: 0.6rem;
  color: black;
}

.emojiDashboard {
  margin: auto;
  padding: 2rem 0rem;
  max-width: 650px;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}

.emojiDisplay {
  margin: 0.5rem;
  border-radius: 0.8rem;
  background-color: white;
  cursor: pointer;
  font-size: 2rem;
  padding: 0.8rem;
  display: inline;
}

.emojiDisplay:hover {
  background-color: #c9cbe3;
}

h4 {
  color: #c9cbe3;
}
